*,::after,::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F6F5F4;
}

/* Font space */ 

@font-face {
    src: url(DelaGothicOne.ttf);
    font-family: delagothic;
}

@font-face {
    font-family: montserrat;
    src: url(Montserrat.ttf);
}

/* Header */

nav {
    background-color: #F6F5F4;
    height: 84px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F6F5F4;
}

.div1 {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.div1-1 {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.globaltalk {
    font-family: delagothic;
    font-style: normal;
    font-weight: 400;
    font-size: 20.8609px;
    text-decoration: none;
    color: black;
}

.home {
    position: relative;
    font-family: montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    color: #757575;
    margin-left: 60px;
}

.home::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .2s;
}

.home:hover {
    color: #000000;
}

.home:hover::after {
    width: 100%;

}

.textbook {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    font-family: montserrat;
    margin-left: 30px;
    text-decoration: none;
    color: #757575;
}
.textbook::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .2s;
}

.textbook:hover {
    color: #000000;
}

.textbook:hover::after {
    width: 100%;
}

.statistics {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    font-family: montserrat;
    margin-left: 30px;
    text-decoration: none;
    color: #757575;
}

.statistics::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .2s;
}

.statistics:hover {
    color: #000000;
}

.statistics:hover::after {
    width: 100%;
}

.games {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    font-family: montserrat;
    margin-left: 30px;
    text-decoration: none;
    color: #757575;
}

.games:hover {
    color: #000000;
}

.games::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .2s;
}

.games:hover::after {
    width: 100%;
}

/* Dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #F6F5F4;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 215px;
    height: 92px;
    left: 45px;
    min-width: 160px;
    border-radius: 14px;
    box-shadow: 0px 343.472px 343.472px rgba(52, 41, 39, 0.08), 
    0px 183.185px 183.185px rgba(52, 41, 39, 0.12), 
     0px 91.5925px 91.5925px rgba(52, 41, 39, 0.04),
      0px 68.6944px 68.6944px rgba(52, 41, 39, 0.04),
       0px 11.4491px 68.6944px rgba(52, 41, 39, 0.04),
        0px 11.4491px 11.4491px rgba(52, 41, 39, 0.04);
    z-index: 1;
  }

  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {color: #000000;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #F6F5F4;}
  
  .sprint {
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 20px;
    color: #828282;
  }
  .audiocall {
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #828282;
  }

  /* Alex & sign out */

  .div2 {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.logining {
    background-color: #C3DCE3;
    border-radius: 100px;
    width: 41px;
    height: 40px;
    font-family: montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    border: none;
    color: #2B788B;
    position: relative;
}

#alexa {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #757575;
    margin: 0;
    padding-left: 10px;
}

.signout {
    position: relative;
    margin-left: 21px;
    width: 90px;
    height: 36px;
    color: #757575;
    background-color: #F6F5F4;
    font-family: montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    border: none;
}

.signout:hover {
    color: #000000;
}

.logining:hover {
    color: #757575;
    border: 1px solid #757575;
}

/* პირველი კონტეინერი */ 

.div3 {
    display: flex;
    align-items: center;
    width: 1180px;
    height: 84px;
    background-color: #ffffff;
    margin: 0 auto;
}

.div3-1 {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.textbookbutt {
    background-color: #ffffff;
    border: none;
    margin-left: 22px;
}

.textbook1 {
    font-family: delagothic;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #757575;
    text-decoration: none;
    padding-left: 12px;
    margin: 0 auto;
}

.textbook1:hover {
    color: #000000;
}

.dictionary {
    background-color: #ffffff;
    border: none;
    border-left: 1.21942px solid #E0E0E0;
}

.dicti:hover {
    color: #000000;
}

svg:hover {
    fill: black;
}

.dicti {
    font-family: delagothic;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    color: #757575;
    text-decoration: none;
    padding-left: 12px;
    margin: 0 auto;
}

.div3-2 {
    width: 146px;
    height: 44px;
    background-color: #F2D4DC;
    border-radius: 14px;
    display: flex;
    align-items: center;
}

.bachiebi {
    border-top-left-radius: 14px;
    width: 44px;
    height: 44px;
}

.sprinter {
    color: #945069;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 45px;
    margin: 0;
}

.sprinter:hover {
    color: #000000;
}

.div3-3 {
    width: 255px;
    height: 44px;
    background-color: #C3DCE3;
    border-radius: 14px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.rup {
    border-top-left-radius: 14px;
    width: 44px;
    height: 44px;
}

.audio22 {
    color: #2B788B;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding-left: 9px;
    padding-right: 37px;
    margin: 0;
}

.audio22:hover {
    color: #000000;
}

.div3-4 {
    width: 60px;
    height: 40px;
    background-color: #F6F5F4;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kbilana:hover {
    fill: black;
}

/* მეორე კონტეინერი */

.div4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1180px;
    height: 84px;
    margin: 40px auto;
}

.div4-1 {
    width: 95px;
    height: 42px;
    display: flex;
    align-items: center;
    position: relative;
}

.div4-1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .3s;
}

.div4-1:hover {
    color: #000000;
}

.div4-1:hover::after {
    width: 100%;

}

.a1 {
    font-style: normal;
    font-family: delagothic;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    color: #757575;
}

.a1:visited {
    color: #000000;
}

.div4a1 {
    text-decoration: none;
}

.div4a1:visited {
    border-bottom: 2px solid black;
}

.easybutt {
    width: 43px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: rgba(99, 155, 109, 0.3);
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #639B6D;
    margin-left: 12px;
}

.easybutt:visited {
    background-color: #639B6D;
    color: #F6F5F4;
}

.div4-2 {
    width: 95px;
    height: 42px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    position: relative;
}

.div4-2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .3s;
}

.div4-2:hover {
    color: #000000;
}

.div4-2:hover::after {
    width: 100%;

}

.div4a2 {
    text-decoration: none;
}


.a2 {
    font-style: normal;
    font-family: delagothic;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    color: #757575;
}

.a2:hover {
    color: #000000;
}

.easybutt1 {
    width: 43px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: rgba(99, 155, 109, 0.3);
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #639B6D;
    margin-left: 12px;
}

.div4-3 {
    width: 117px;
    height: 42px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    position: relative;
}

.div4-3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .3s;
}

.div4-3:hover {
    color: #000000;
}

.div4-3:hover::after {
    width: 100%;

}

.div4a3 {
    text-decoration: none;
}

.b1 {
    font-style: normal;
    font-family: delagothic;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    color: #757575;
}

.b1:hover {
    color: #000000;
}

.easybutt2 {
    width: 66px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: rgba(196, 162, 76, 0.3);
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #C4A24C;
    margin-left: 12px;
}

.div4-4 {
    width: 117px;
    height: 42px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    position: relative;
}

.div4-4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .3s;
}

.div4-4:hover {
    color: #000000;
}

.div4-4:hover::after {
    width: 100%;

}

.div4a4 {
    text-decoration: none;
}

.b2 {
    font-style: normal;
    font-family: delagothic;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    color: #757575;
}

.b2:hover {
    color: #000000;
}

.easybutt3 {
    width: 66px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: rgba(196, 162, 76, 0.3);
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #C4A24C;
    margin-left: 12px;
}

.div4-5 {
    width: 97px;
    height: 42px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    position: relative;
}

.div4-5::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .3s;
}

.div4-5:hover {
    color: #000000;
}

.div4-5:hover::after {
    width: 100%;

}

.div4a5 {
    text-decoration: none;
}

.c1 {
    font-style: normal;
    font-family: delagothic;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    color: #757575;
}

.c1:hover {
    color: #000000;
}

.easybutt4 {
    width: 45px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: rgba(203, 91, 67, 0.3);
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #CB5B43;
    margin-left: 12px;
}

.div4-6 {
    width: 97px;
    height: 42px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    position: relative;
}

.div4-6::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 0%;
    background-color: #000000;
    transition: all .3s;
}

.div4-6:hover {
    color: #000000;
}

.div4-6:hover::after {
    width: 100%;

}

.div4a6 {
    text-decoration: none;
}

.c2 {
    font-style: normal;
    font-family: delagothic;
    font-weight: 400;
    font-size: 26px;
    margin: 0;
    color: #757575;
}

.c2:hover {
    color: #000000;
}

.easybutt5 {
    width: 45px;
    height: 25px;
    border-radius: 4px;
    border: none;
    background-color: rgba(203, 91, 67, 0.3);
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #CB5B43;
    margin-left: 12px;
}

/* მესამე კონტეინერი */

.div5 {
    width: 926px;
    height: 336px;
    display: flex;
    margin: 0 auto;
}

.classroom {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.div5-1 {
    width: 589px;
    height: 336px;
    background-color: #ffffff;
}

.div5-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 27px 40px;
}


.remark {
    font-family: delagothic;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    margin: 0;
}

.notes {
    color: #757575;
}

.div5-3 {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background-color: #F6F5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 33px;
}

.div5-4 {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 21.5px;
}

.rimork {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    margin-left: 40px;
}

.compound {
    width: 100px;
    height: 28px;
    border-radius: 4px;
    background-color: #CB5B43;
    margin-left: 10px;
    color: #F6F5F4;
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.h5-1 {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.div5-5 {
    width: 516px;
    height: 96px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    padding-left: 40px;
    padding-top: 20px;
}

.divh5 {
    border-bottom: 1.21942px solid #E0E0E0;
}

.p5 {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #757575;
    padding-left: 40px;
    margin: 0;
    padding-top: 60px;
}

.div5butt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.div5butt1 {
    border: none;
    border-radius: 100px;
    background-color: #639B6D;
    color: #F6F5F4;
    width: 156px;
    height: 40px;
}

.div5butt1:hover {
    border: 2px solid #000000;
}

.div5butt2 {
    width: 230px;
    height: 40px;
    border: none;
    border-radius: 100px;
    margin-left: 20px;
    background-color: rgba(203, 91, 67, 0.3);
    color: #CB5B43;
}

.div5butt2:hover {
    border: 2px solid #000000;
}

/* მეოთხე კონტეინერი */

.div6 {
    margin: 40px auto;
    padding: 0;
    width: 926px;
    height: 336px;
    display: flex;
    background-color: #ffffff;
}

.pianist {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.div6-1 {
    width: 589px;
    height: 336px;
    background-color: #ffffff;
}

.div6-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 27px 40px;
}

.awful {
    font-family: delagothic;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
}

.awful1 {
    margin: 0;
}

.terrible {
    color: #757575;
}

.div6-3{
    display: flex;
    align-items: center;
    width: 100%;
}

.fel {
    font-family: 'montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
    padding-left: 40px;
}